@media (max-width: 768px) {

    .quadro {
        flex-direction: column;
        align-items: center;
        gap: 40px
    }

    .texto-principal {
        text-align: center;
    }

    .formulario{
        padding: 20px;
    }
}

@media (max-width: 330px) {

    .quadro {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .texto-principal {
        width: 100%;
        text-align: center;
    }

}